In [ ]:
import pandas as pd

# Q1

table = {
    'Tid' : [1,2,3,4,5,6,7,8,9,10] ,
    'Refund' : ["Yes","No","No","Yes","No","No","Yes","No","No","No"] ,
    'Maritial Status' :["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"] ,
    'Taxable income' : ["12k","100k","70k","120k","95k","60k","220k","85k","75k","90k"] ,
    'Cheat' : ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
};

df = pd.DataFrame(table)
print(df)
print()

# Q2

print(df.loc[0])
print(df.loc[4])
print(df.loc[7])
print(df.loc[8])

# Q3
print()
print(df.iloc[3:8])
print(df.iloc[4:9,2:5])
print(df.iloc[:,1:4])

# Q4

from google.colab import files
uploaded = files.upload()
df2 = pd.read_csv('Iris.csv')
print(df2.head())

# Q5
df2.drop(df2.colummns[3],axis = 1,inplace = True) # deleting col 3
df2.drop(3,axis = 0,inplace = True) # deleting row 4
print("After deleting : ")
print(df2.head())

   Tid Refund Maritial Status Taxable income Cheat
0    1    Yes          Single            12k    No
1    2     No         Married           100k    No
2    3     No          Single            70k    No
3    4    Yes         Married           120k    No
4    5     No        Divorced            95k   Yes
5    6     No         Married            60k    No
6    7    Yes        Divorced           220k    No
7    8     No          Single            85k   Yes
8    9     No         Married            75k    No
9   10     No          Single            90k   Yes

Tid                     1
Refund                Yes
Maritial Status    Single
Taxable income        12k
Cheat                  No
Name: 0, dtype: object
Tid                       5
Refund                   No
Maritial Status    Divorced
Taxable income          95k
Cheat                   Yes
Name: 4, dtype: object
Tid                     8
Refund                 No
Maritial Status    Single
Taxable income        85k
Cheat                 Yes
Name: 7, dtype: object
Tid                      9
Refund                  No
Maritial Status    Married
Taxable income         75k
Cheat                   No
Name: 8, dtype: object

   Tid Refund Maritial Status Taxable income Cheat
3    4    Yes         Married           120k    No
4    5     No        Divorced            95k   Yes
5    6     No         Married            60k    No
6    7    Yes        Divorced           220k    No
7    8     No          Single            85k   Yes
  Maritial Status Taxable income Cheat
4        Divorced            95k   Yes
5         Married            60k    No
6        Divorced           220k    No
7          Single            85k   Yes
8         Married            75k    No
  Refund Maritial Status Taxable income
0    Yes          Single            12k
1     No         Married           100k
2     No          Single            70k
3    Yes         Married           120k
4     No        Divorced            95k
5     No         Married            60k
6    Yes        Divorced           220k
7     No          Single            85k
8     No         Married            75k
9     No          Single            90k

KeyboardInterrupt:

Q6

In [ ]:
# Q6
import pandas as pd
employees = {
    'Employee_ID' : [101,102,103,104,105] ,
    'Name' : ["Alice","Bob","Charlie","Diana","Edward"] ,
    'Department' : ["HR","IT","IT","Marketing","Sales"] ,
    'Age' : [29,34,41,28,38] ,
    'Salary' : [50000,70000,65000,55000,60000] ,
    'Years_of_Experience' : [4,8,10,3,12] ,
    'Joining_Date' : ["2020-03-15","2017-07-19","2013-06-01","2021-02-10","2010-11-25"] ,
    'Gender' : ["Female","Male","Male","Female","Male"] ,
    'Bonus' : [5000,7000,6000,4500,5000] ,
    'Rating' : [4.5,4.0,3.8,4.7,3.5]
};

df = pd.DataFrame(employees)
print(df)
print()

print("Shape of data frame : ",df.shape)
print()
print("Data frame info : ",df.info())
print()
print("Descriptive status : ",df.describe())
print("First 5 rows : ",df.head())
print("Last 3 rows : ",df.tail(3))

average_salary = df["Salary"].mean()
total_bonus = df["Bonus"].sum()
youngest_age = df["Age"].min()
highest_rating = df["Rating"].max()

print("Average salary : ",average_salary)
print("Total bonus : ",total_bonus)
print("Youngest_employee : ",youngest_age)
print("Highest performance : ",highest_rating)

sort_salary = df.sort_values(by="Salary",ascending = False)
print("Sorted dataframe : ",sort_salary)

print()
print()

def categorize_performace(rating) :
  if rating >= 4.5 :
    return "Excellent"
  elif rating >= 4.0 :
    return "Good"
  else :
    return "Average"

df["Performace Category"] = df["Rating"].apply(categorize_performace)
print("Df with new col : ")
print(df)

print("Missing values : ")
print(df.isnull().sum())

df.rename(columns = {"Employee_ID" : "ID"},inplace = True)
print("After renaming : ")
print(df.head())

print()
experienced_employees = df[df["Years_of_Experience"]>5]
it_employees = df[df["Department"]=="IT"]

print("Employees with greater than 5 years of experience : ")
print(experienced_employees)
print("It employees : ")
print(it_employees)

print()

df["Tax"] = df["Salary"] * 0.10
print("Df with tax col : ")
print(df)

print()

df.to_csv("employees.csv",index = False)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

Shape of data frame :  (5, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
Data frame info :  None

Descriptive status :         Employee_ID        Age       Salary  Years_of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000
First 5 rows :     Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
Last 3 rows :     Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
Average salary :  60000.0
Total bonus :  27500
Youngest_employee :  28
Highest performance :  4.7
Sorted dataframe :     Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5


Df with new col :
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performace Category
0   2020-03-15  Female   5000     4.5           Excellent
1   2017-07-19    Male   7000     4.0                Good
2   2013-06-01    Male   6000     3.8             Average
3   2021-02-10  Female   4500     4.7           Excellent
4   2010-11-25    Male   5000     3.5             Average
Missing values :
Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performace Category    0
dtype: int64
After renaming :
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performace Category
0  Female   5000     4.5           Excellent
1    Male   7000     4.0                Good
2    Male   6000     3.8             Average
3  Female   4500     4.7           Excellent
4    Male   5000     3.5             Average

Employees with greater than 5 years of experience :
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performace Category
1   Male   7000     4.0                Good
2   Male   6000     3.8             Average
4   Male   5000     3.5             Average
It employees :
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performace Category
1   Male   7000     4.0                Good
2   Male   6000     3.8             Average

Df with tax col :
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performace Category     Tax
0  Female   5000     4.5           Excellent  5000.0
1    Male   7000     4.0                Good  7000.0
2    Male   6000     3.8             Average  6500.0
3  Female   4500     4.7           Excellent  5500.0
4    Male   5000     3.5             Average  6000.0

In [ ]:
r